.todo {
    margin: 0 auto;
    max-width: 700px;

    &__title {
        text-align: center;
        font-size: 36px;
    }

}

.form {

    display: flex;
    margin-bottom: 30px;

    &__input {
        padding: 10px;
        width: 620px;
    }

    &__btn {
        background-color: blueviolet;
        width: 38px;
        height: 38px;
        color: white;
        font-size: 25px;
        margin-left: 20px;
    }
}


.tasklist {

    background-color: rgb(160, 201, 160);
    color: rgb(92, 91, 91);
    padding: 10px;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__text {
        word-break: break-word;
        max-width: 640px;
        margin: 5px;
    }

    &__btn_del {
        color: white;
        font-weight: bold;
        background-color: blueviolet;
        width: 25px;
        height: 25px;
        padding: 2.5px;
        font-size: 10px;
    }

    &__block {
        margin: 30px 0 40px 0;
    }

    &__count {
        color: blueviolet;
        font-weight: bold;
    }

    &__btn_all {
        margin-left: 20px;
        width: 100px;
        height: 40px;
        padding: 5px;
        font-size: 16px;
        color: blueviolet;
        font-weight: bold;
        background-color: white;
    }


}